.main-app {
    text-align: center;
    margin: 100px;
    
}

.cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: rgb(40, 77, 113);
}

.mint-nft-button {
    background: green;
}
.heading {
    color: rgb(140, 248, 140);
    font-weight: bolder;
    font-size: 300%;

}



